In [113]:
RAW_DATA_PATH = "../../data/raw/cleveland.csv"
TRAIN_DATA_PATH = "../../data/interim/train_data.pkl"
TEST_DATA_PATH = "../../data/interim/test_data.pkl"

# Import packages

In [114]:
import pandas as pd
from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings('ignore')

In [115]:
# Change some pandas display options
pd.set_option('display.max_rows', 10000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 0)
pd.set_option('display.width', 1000)
pd.set_option("styler.format.precision", 10)

# Functions

In [116]:
def rename_cols(data:pd.DataFrame, output=False):    
    """Changes columns name for the passed dataset
    """

    # Obtain features before modifying names
    old_columns_names = data.columns.to_list()
    
   
    data.rename(
        columns={
            'cp'        :   'chest pain type',
            'trestbps'  :   'resting blood pressure',
            'chol'      :   'serum cholestoral',
            'fbs'       :   'fasting blood sugar',
            'restecg'   :   'resting electrocardiographic',
            'thalach'   :   'maximum heart rate',
            'exang'     :   'exercise induced angina',
            'oldpeak'   :   'ST depression',
            'slope'     :   'slope peak exercise ST segment',
            'ca'        :   'number of major vessels',
            'thal'      :   'thallium stress result'
        },
        inplace = True
    )

    
    if(output):
        new_columns_names = data.columns.to_list()
    
        # before_after_pairs = pd.DataFrame([old_columns_names, new_columns_names], columns=['before renaming', 'after renaming'])
        before_after_pairs = pd.DataFrame({'before renaming': old_columns_names, 'after renaming': new_columns_names})

        return before_after_pairs

    return None

# Read data

In [117]:
# Read data
df_raw = pd.read_csv(RAW_DATA_PATH)

In [118]:
# Display raw train data shape
print(f"Num of rows: {df_raw.shape[0]}")
print(f"Num of features: {df_raw.shape[1]}")

Num of rows: 302
Num of features: 14

In [119]:
# Display raw train data
df_raw.head()

    age  sex   cp  trestbps   chol  fbs  restecg  thalach  exang  oldpeak  slope   ca thal  target
0  67.0  1.0  4.0  160.0     286.0  0.0  2.0      108.0    1.0    1.5      2.0    3.0  3.0  2
1  67.0  1.0  4.0  120.0     229.0  0.0  2.0      129.0    1.0    2.6      2.0    2.0  7.0  1
2  37.0  1.0  3.0  130.0     250.0  0.0  0.0      187.0    0.0    3.5      3.0    0.0  3.0  0
3  41.0  0.0  2.0  130.0     204.0  0.0  2.0      172.0    0.0    1.4      1.0    0.0  3.0  0
4  56.0  1.0  2.0  120.0     236.0  0.0  0.0      178.0    0.0    0.8      1.0    0.0  3.0  0

In [120]:
# Display a random sample
df_raw.sample(1).iloc[0]

age         61.0
sex         1.0
cp          4.0
trestbps    140.0
chol        207.0
fbs         0.0
restecg     2.0
thalach     138.0
exang       1.0
oldpeak     1.9
slope       1.0
ca          1.0
thal        7.0
target      1
Name: 269, dtype: object

# Renamed columns

In [121]:
rename_cols(df_raw, output=True)

   before renaming                  after renaming
0   age             age
1   sex             sex
2   cp              chest pain type
3   trestbps        resting blood pressure
4   chol            serum cholestoral
5   fbs             fasting blood sugar
6   restecg         resting electrocardiographic
7   thalach         maximum heart rate
8   exang           exercise induced angina
9   oldpeak         ST depression
10  slope           slope peak exercise ST segment
11  ca              number of major vessels
12  thal            thallium stress result
13  target          target

# Splitting data
Splitting the raw data with stratify method for ensuring fair splitting upon target value

In [122]:
df_train, df_test = train_test_split(df_raw, test_size=0.1, stratify=df_raw['target'], random_state=44)

In [123]:
df_train['target'].value_counts() / df_train.shape[0]

0    0.538745
1    0.180812
3    0.118081
2    0.118081
4    0.044280
Name: target, dtype: float64

In [124]:
df_test['target'].value_counts() / df_test.shape[0]

0    0.548387
1    0.193548
2    0.129032
3    0.096774
4    0.032258
Name: target, dtype: float64

In [125]:
df_train.to_pickle(TRAIN_DATA_PATH)
df_test.to_pickle(TEST_DATA_PATH)